# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,php,phtml,html,xml,md}]
charset = utf-8

# 4 space indentation by default for all
[*]
indent_style = space
indent_size = 4

# Indentation override for all Frontend specific files - JS, JSON, HTML, XML
[*.{js,json,html,xml}]
indent_style = space
indent_size = 2

# Indentation override for all Yml and Markdown
[*.{yml,yaml,md}]
indent_style = space
indent_size = 2

# Regardless of above styles - these composer.json,package.json and .travis.yml are better with 2 spaces
[{composer.json,package.json,.travis.yml}]
indent_style = space
indent_size = 2
