*~
.DS_Store
.buildpath
.idea
.project
.settings
vendor
bin/*
src/db.sqlite
/nbproject/private/
.composer
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
src/Core/cache/
/secrets/values-staging.yaml
/secrets/values-production.yaml
var/*
