                </td>
            </tr>
            <tr>
              <td valign="center" bgcolor="#2a2d34" style="padding: 4%; background: #2a2d34; font-size: 15px; font-family: Arial, sans-serif; color: #fff; vertical-align: middle;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" valign="center" style="vertical-align: middle;">
                  <tbody>
                    <tr>
                      <td width="37" valign="center" style="vertical-align: middle;"><img src="" alt="Ðurdey" style="display:block; border: none;" border="0" width="25" /></td>
                      <td valign="center" style="vertical-align: middle; color: #fff;">{% trans %}core:email:sign-tenant{% endtrans %}</td>
                      <td align="right" valign="center" style="vertical-align: middle;"><table width="152" cellpadding="0" cellspacing="0" border="0" align="right" style="text-align: right; width: 152px;">
                        <tbody>
                          <tr>
                            <td width="32" style="width: 32px;"><a href="localhost" target="_blank" title="{% trans %}core:footer:social:hint{% endtrans %} Facebook"><img src="localhost" alt="{% trans %}core:footer:social:hint{% endtrans %} Facebook" style="display:block; border: none; width: 32px;" border="0" width="32" /></a></td>
                            <td width="8" style="width: 8px;">&nbsp;</td>
                            <td width="32" style="width: 32px;"><a href="localhost" target="_blank" title="{% trans %}core:footer:social:hint{% endtrans %} Instagram"><img src="localhost" alt="{% trans %}core:footer:social:hint{% endtrans %} Instagram" style="display:block; border: none; width: 32px;" border="0" width="32" /></a></td>
                            <td width="8" style="width: 8px;">&nbsp;</td>
                            <td width="32" style="width: 32px;"><a href="localhost" target="_blank" title="{% trans %}core:footer:social:hint{% endtrans %} LinkedIn"><img src="localhost" alt="{% trans %}core:footer:social:hint{% endtrans %} LinkedIn" style="display:block; border: none; width: 32px;" border="0" width="32" /></a></td>
                            <td width="8" style="width: 8px;">&nbsp;</td>
                            <td width="32" style="width: 32px;"><a href="localhost" target="_blank" title="{% trans %}core:footer:social:hint{% endtrans %} Twitter"><img src="localhost" alt="{% trans %}core:footer:social:hint{% endtrans %} Twitter" style="display:block; border: none; width: 32px;" border="0" width="32" /></a></td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="center" bgcolor="#000000" style="padding: 2% 4%; background: #000; font-size: 15px; font-family: Arial, sans-serif; color: #fff; vertical-align: middle;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" valign="center" style="vertical-align: middle;">
                  <tbody>
                    <tr>
                      <td valign="center" style="vertical-align: middle; color: #fff;">{% trans %}core:email:copyright{% endtrans %}</td>
                      <td width="85" align="right" valign="center" style="vertical-align: middle;"><img src="localhost" alt="localhost" style="display:block; border: none;" border="0" width="75" /></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </center>
</body>
