<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>localhost</title>
</head>
<body yahoo bgcolor="#ffffff">
  <center>
    <table width="100%" bgcolor="#ffffff" style="background: #ffffff;" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center">
          <div style="max-width: 748px;">
            <table bgcolor="#ffffff" style="max-width: 748px;" width="100%" align="left" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td valign="center" style="padding: 4%; vertical-align: middle; border: 1px solid #e1e1e1;">
                  <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                     <tr>
                        <td width="120"><a href="localhost" title="localhost" target="_blank" style="text-decoration: none; line-height: 1;"><img src="localhost" alt="localhost" style="display:block;" border="0" width=" 97" /></a></td>
                        <td><i style="font-size: 15px; font-family: Arial, sans-serif; color: #828282; font-style: italic;">{% trans %}core:header:info{% endtrans %}</i></td>
                     </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px; font-family: Arial, sans-serif; color: #828282; padding: 4%; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;">
