{% block body %}
{{ include('inc/header.twig') }}
Hi (tenant)
<br /><br />
As you know, we are working together with (landlord) to make the rent collection easier. Tomorrow you will receive an email to pay your monthly rent, and we want you to know that we've been hearing your feedback and now we are providing a new payment method.
You can pay with your credit or debit card as usual, and it's as easy as:
<br /><br />
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6" style="padding: 3%; background: #f6f6f6;">
    <tbody>
        <tr>
            <td><img src="localhost" width="100%" border="0" style="display: block; border: 0; width: 100%;" alt="Ho to Pay with Card" title="Ho to Pay with Card" /></td>
        </tr>
        <tr>
            <td height="15" style="height: 15px; line-height: 15px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Select Pay with Card</td>
                            <td width="5%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">&nbsp;</td>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Enter your card details</td>
                            <td width="5%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">&nbsp;</td>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Done!</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br /><br />
And now you can also pay by bank transfer via localhost, just with your name and IBAN:
<br /><br />
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6" style="padding: 3%; background: #f6f6f6;">
    <tbody>
        <tr>
            <td><img src="localhost" width="100%" border="0" style="display: block; border: 0; width: 100%;" alt="Ho to Pay with bank transfer"  title="Ho to Pay with bank transfer" /></td>
        </tr>
        <tr>
            <td height="15" style="height: 15px; line-height: 15px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Select Pay with bank transfer</td>
                            <td width="5%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">&nbsp;</td>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Enter your full name and IBAN</td>
                            <td width="5%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">&nbsp;</td>
                            <td width="30%" align="center" style="font-size: 14px; font-family: Arial, sans-serif; color: #828282; text-align: center;">Done!</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br /><br />
If you have any other feedback or request please tell us at hello@localhost.com, we're always loving to hear from you
<br /><br />
Thanks for your time,
<br /><br />
The localhost team
{{ include('inc/footer.twig') }}
{% endblock %}
