<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dictionary</title>
</head>
<body yahoo bgcolor="#ffffff">
<center>
    <table width="100%" bgcolor="#ffffff" style="background: #ffffff;" align="center" border="0" cellpadding="0"
           cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div style="max-width: 748px;">
                    <table bgcolor="#ffffff" style="max-width: 748px;" width="100%" align="left" cellpadding="0"
                           cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td valign="center" style="padding: 4%; vertical-align: middle; border: 1px solid #e1e1e1;">
                                <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td width="120"><a href="https://localhost" title="Dictionary" target="_blank"
                                                           style="text-decoration: none; line-height: 1;"><img
                                                    src="https://localhost" alt="localhost"
                                                    style="display:block;" border="0" width=" 97"/></a></td>
                                        <td><i style="font-size: 15px; font-family: Arial, sans-serif; color: #828282; font-style: italic;">Templates we send to users</i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px; font-family: Arial, sans-serif; color: #828282; padding: 4%; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;">
                                <b>Available templates:</b>
                                <br /><br />
                                To landlord:
                                <ul>
                                    <li><a href="/email/templates?template=activation_email">activation_email</a></li>
                                    <li><a href="/email/templates?template=reset_password_email">reset_password_email</a></li>
                                    <li><a href="/email/templates?template=welcome_tenant_email_failed">welcome_tenant_email_failed</a></li>
                                    <li><a href="/email/templates?template=payment_succeeded_email">payment_succeeded_email</a></li>
                                    <li><a href="/email/templates?template=refund_landlord_email">refund_landlord_email</a></li>
                                    <li><a href="/email/templates?template=payment_failed_email">payment_failed_email</a></li>
                                    <li><a href="/email/templates?template=landlord_summary_email">landlord_summary_email</a></li>
                                </ul>
                                To tenant:
                                <ul>
                                    <li><a href="/email/templates?template=welcome_tenant_email">welcome_tenant_email</a></li>
                                    <li><a href="/email/templates?template=payment_notification_email">payment_notification_email</a></li>
                                    <li><a href="/email/templates?template=payment_notification_reminder_email">payment_notification_reminder_email</a></li>
                                    <li><a href="/email/templates?template=payment_notification_second_reminder_email">payment_notification_second_reminder_email</a></li>
                                    <li><a href="/email/templates?template=payment_notification_third_reminder_email">payment_notification_third_reminder_email</a></li>
                                    <li><a href="/email/templates?template=payment_succeeded_tenant_email">payment_succeeded_tenant_email</a></li>
                                    <li><a href="/email/templates?template=payment_pending_tenant_email">payment_pending_tenant_email</a></li>
                                    <li><a href="/email/templates?template=payment_failed_tenant_email">payment_failed_tenant_email</a></li>
                                    <li><a href="/email/templates?template=refund_tenant_email">refund_tenant_email</a></li>
                                    <li><a href="/email/templates?template=lease_terminated_tenant">lease_terminated_tenant</a></li>
                                    <li><a href="/email/templates?template=lease_end_modified_tenant">lease_end_modified_tenant</a></li>
                                </ul>
                                Deprecated:
                                <ul>
                                    <li><a href="/email/templates?template=not_paid_payment_notification_email">not_paid_payment_notification_email</a></li>
                                </ul>
                                To change the language add <b>&locale=es-ES</b> after the url.
                            </td>
                        </tr>
                        <tr>
                            <td valign="center" bgcolor="#2a2d34"
                                style="padding: 4%; background: #2a2d34; font-size: 15px; font-family: Arial, sans-serif; color: #fff; vertical-align: middle;">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" valign="center" style="vertical-align: middle;">
                                    <tbody>
                                    <tr>
                                        <td width="37" valign="center" style="vertical-align: middle;"></td>
                                        <td valign="center" style="vertical-align: middle; color: #fff;">{% trans %}core:email:sign{% endtrans %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="center" bgcolor="#000000"
                                style="padding: 2% 4%; background: #000; font-size: 15px; font-family: Arial, sans-serif; color: #fff; vertical-align: middle;">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" valign="center"
                                       style="vertical-align: middle;">
                                    <tbody>
                                    <tr>
                                        <td valign="center" style="vertical-align: middle; color: #fff;">{% trans %}
                                            core:email:copyright{% endtrans %}</td>
                                        <td width="85" align="right" valign="center" style="vertical-align: middle;">
                                            <img src="https://localhost"
                                                 alt="Dictionary" style="display:block; border: none;" border="0"
                                                 width="75"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
